:root {
    /* Colors */
    --bg-primary: 223, 87%, 63%;
    --bg-secondary-blue: 223, 100%, 88%;
    --bg-secondary-red: 354, 100%, 66%;
    --clr-neutral-dark: 209, 33%, 12%;
    --clr-neutral-light: 0, 0%, 59%;

    /* Typography */
        /* body copy */
        --fs-base: 1.25rem;

        /* fonts */
        --ff-base: 'Libre Franklin', sans-serif;

        /* font weight */
        --fw-300: 300;
        --fw-600: 600;
        --fw-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    font-size: var(--fs-base);
}

.logo {
    font-size: 2rem;
    margin-block: 2em;
    /* padding-block: 3em; */
}

/* Utility Classes */
.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

  /* colors */

  .bg-primary { background-color: hsl( var(--bg-primary)) }
  .clr-primary { color: hsl( var(--bg-primary)) }
  .clr-neutral-light { color: hsl( var(--clr-neutral-light)) }
  .clr-neutral-dark { color: hsl( var(--clr-neutral-dark)) }
  .uppercase { text-transform: uppercase }
  .font-primary { font-family: var(--ff-base) }
  .text-white { color: #fff }

  /* typography */
  .light { font-weight: var(--fw-300)}
  .semi-bold { font-weight: var(--fw-600) }
  .bold { font-weight: var(--fw-700) }

  .border-round {
    border-radius: 100px;
  }

.container {
    margin: 2em auto;
    padding-inline: 2em;
    text-align: center;
}

h1 {
    padding-block-end: 1em;
}

ul {
    /* width: 17.5625rem; */
    padding-inline-start: 0;
}

li {
    list-style: none;
    padding-block: .5em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    border: 1px solid hsl( var(--bg-secondary-blue));
    height: 2.5rem;
    padding: 1.5em 2em;
    font-size: 1rem;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.00); 
}

.btn {
    width: 100%;
    height: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
    cursor: pointer;
}

/* form error styling */

#emailError {
    display: none;
    font-size: 0.8em;
    padding-block-end: 1em;
  }
  
  #emailError.visible {
    display: block;
    color: hsl( var(--bg-secondary-red) );
  }
  
  input.invalid {
    border-color: hsl( var(--bg-secondary-red) );
  }

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: .5em;
}

.img-section > img {
    max-width: 35.45188rem; 
}

i {
    width: 32px;
}

.social {
    display: inline-flex;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 4em 1.5em;
}

.social > a {
    border-radius: 50%;
    border: 2px solid hsla(223, 87%, 63%, 0.15);
    color: hsl( var(--bg-primary) );
    aspect-ratio: 1;
    padding: .25em;
    /* margin-inline: .5em; */
    text-align: center;
}

/* .social > a:nth-child(2) {
    padding: .35em .55em;
}

.social > a:nth-child(3) {
    padding: .55em .75em;
} */

footer {
    text-align: center;
    position: relative
}

footer > p {
    font-size: 0.675rem
}

.attribution {
    padding-block-start: 5em;
}

@media (min-width:1440px) {
    ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .form-input {
        width: 35.45188rem;
    }

    .btn {
        width: 12rem;
    }

    .desktop-error {
        display: flex;
        flex-direction: column;
    }

    #emailError.visible {
        text-align: left;
        padding-left: 1em;
    }
}